@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.2;
  font-size: 28px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.rotation-slow {
  animation: double-rotation 2s ease-in-out reverse 200ms;
}

.rotation-fast {
  -webkit-animation: one-rotation 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 300ms;
          animation: one-rotation 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 300ms;
}

@-webkit-keyframes double-rotation {
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes double-rotation {
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@-webkit-keyframes one-rotation {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes one-rotation {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__navbar {
  margin-left: 290px;
}

.header__intro {
  max-width: 1042px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-left: 6px;
  padding-bottom: 45px;
  margin: 0 auto;
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 519px;
}

.header__plate {
  margin-bottom: 15px;
}

.header__heading {
  line-height: 75px !important;
  color: #242f51;
  margin-bottom: 20px;
}

.header__paragraph {
  margin-bottom: 40px;
  color: #616368;
  line-height: 28px !important;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__button:nth-child(1) {
  margin-right: 28px;
}

.header__smartphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__smartphone .smartphone-one {
  height: 730px;
}

.companies__paragraph {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  color: #242f51;
}

.companies__logos {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__image {
  margin-right: 53px;
}

.features__info {
  margin-top: 53px;
}

.features__intro {
  margin-bottom: 70px;
}

.features__heading--intro {
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  margin-bottom: 12px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 450px;
}

.features__list > .prototyping {
  margin: 62px 0;
}

.features__inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.features__inner-list > .circle,
.features__inner-list > .circle--red,
.features__inner-list > .circle--blue,
.features__inner-list > .circle--green {
  margin-right: 32px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.features__heading--performance {
  color: #f55767;
}

.features__heading--prototyping {
  color: #2563ff;
}

.features__heading--editing {
  color: #40975f;
}

.jackpots__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jackpots__heading--intro {
  font-size: 40px;
  line-height: 50px;
  color: #242f51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 78px;
}

.jackpots__paragraph--intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jackpots__paragraph--intro::before {
  content: '';
  margin-right: 48px;
  width: 1px;
  height: 147px;
  opacity: 0.38;
  background-color: #4b4a48;
}

.jackpots__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 110px;
}

.jackpots__list > .circle--red,
.jackpots__list .circle--blue,
.jackpots__list .circle--green {
  margin-bottom: 30px;
}

.jackpots__inner-list .circle--red {
  margin-bottom: 35px;
}

.jackpots__heading--payouts {
  color: #f55767;
}

.jackpots__heading--network {
  color: #2563ff;
}

.jackpots__heading--rewards {
  color: #40975f;
}

.inner__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.integration__image {
  margin-right: 110px;
}

.integration__heading {
  color: #242f51;
  font-size: 36px;
  line-height: 46px;
  margin-top: 140px;
}

.integration__paragraph {
  margin-top: 30px;
}

.integration__button {
  margin-top: 40px;
}

.our-app__heading--intro {
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 35px;
  color: #242f51;
}

.our-app__paragraph--intro {
  margin-bottom: 94px;
}

.our-app__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-app__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-app .development,
.our-app .award,
.our-app .storage {
  margin-bottom: 70px;
}

.our-app__inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-app__heading--info {
  color: #242f51;
}

.circle--1 {
  background-color: #ffecef;
}

.circle--2 {
  background-color: #d5f1fa;
}

.circle--3 {
  background-color: #fff6d3;
}

.circle--4 {
  background-color: #e4ffee;
}

.circle--5 {
  background-color: #e3e3fc;
}

.circle--6 {
  background-color: #fdeee4;
}

.ultimate__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 25%;
}

.ultimate__heading--intro {
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  margin-bottom: 30px;
}

.ultimate__paragraph--intro {
  margin-bottom: 60px;
}

.ultimate__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 54px;
}

.ultimate__inner-list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.ultimate__inner-list > .circle,
.ultimate__inner-list > .circle--red,
.ultimate__inner-list > .circle--blue,
.ultimate__inner-list > .circle--green {
  margin-bottom: 35px;
}

.ultimate .development {
  margin-bottom: 60px;
}

.ultimate__heading {
  color: #242f51;
}

.ultimate__button > .button--blue {
  padding: 15px 58px;
}

.charges__heading {
  color: #242f51;
  font-size: 36px;
  line-height: 46px;
  margin: 0 0 33px 0;
}

.charges__paragraph {
  margin: 0 0 87px 0;
}

.charges__switcher {
  margin: 0 0 39px 0;
}

.charges__offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.charges__offer-start {
  background-color: blue;
}

.charges__basic {
  margin: 0 20px 0 0;
}

.charges__master {
  margin: 0 0 0 20px;
  height: 605px !important;
}

.charges__button {
  margin: 0 0 25px 0;
}

.charges__button--text {
  margin: 0 0 9px 0;
}

.offer {
  width: 317px;
  height: 554px;
  background-color: #fff;
  -webkit-box-shadow: 4px 55px 62px 0px rgba(144, 163, 177, 0.18);
          box-shadow: 4px 55px 62px 0px rgba(144, 163, 177, 0.18);
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.offer:hover {
  outline: 2px solid #ebebeb;
}

.offer .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 70px 0 27px 0;
}

.offer .payment > h1 {
  font-family: Poppins;
  font-size: 60px;
  line-height: 58px;
  font-weight: 600;
  color: #242f51;
}

.offer .payment > p {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.offer .payment-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 81px 0;
}

.offer .payment-info > .second-heading {
  color: #242f51;
}

.offer .tools {
  height: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 42px 0;
}

.product__map {
  width: 100%;
  height: 100%;
  background: no-repeat  left left;
  background-size: 100%;
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 10px 0;
}

.product__heading--intro {
  font-size: 40px;
  line-height: 50px;
  margin: 0 0 20px 0;
}

.product__paragraph--intro {
  font-size: 16px;
  line-height: 26px;
}

.product__slider {
  width: 590px;
  height: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product__slider .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__slider .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.product__slider .button {
  width: 50px;
  height: 50px;
  border: 2px solid #eff3f8;
  background-color: transparent;
  border-radius: 50%;
  font-size: 24px;
  color: #2563ff;
}

.product__slider .button:hover {
  background-color: #eff3f8;
}

.product__slider .rate {
  font-size: 20px;
  line-height: 58px;
  font-weight: 400;
  color: #ffcc00;
}

.product__slider .image {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-size: 100%;
  background: cover fixed;
}

.product__slider .review {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.product__slider .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.product__slider .person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}

.product__slider .name {
  font-size: 18px;
  line-height: 58px;
  font-weight: 600;
  margin-bottom: -15px;
}

.product__slider .position {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #616368;
}

/*============== Desktop First ==============*/

/* Large Devices, Laptops */

/* Large Devices, Wide Screens */

/* bold Devices, Desktops */

/* Small Devices, Tablets */

/* Extra Small Devices, Phones */

/* Custom, iPhone Retina*/

/*============== Mobile First ==============*/

/* Custom, iPhone Retina*/

/* Extra Small Devices, Phones */

/* Small Devices, Tablets */

/* bold Devices, Desktops */

/* Large Devices, Wide Screens */

* {
  font-family: "Poppins", "sans-serif";
}

.header {
  background: url("/img/city.webp") no-repeat local bottom;
  background-size: 100%;
  padding-top: 100px;
}

.companies {
  max-width: 935px;
  margin: 0 auto;
  margin-top: 110px;
}

.features {
  margin-top: 150px;
  margin-left: 220px;
}

.features .paragraph {
  color: #616368;
}

.features .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.jackpots {
  margin-top: 100px;
}

.jackpots .paragraph {
  color: #616368;
}

.jackpots .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.integration {
  margin-top: 114px;
}

.integration .paragraph {
  color: #616368;
}

.integration .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-app {
  margin-top: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.our-app .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-app .paragraph {
  color: #616368;
}

.ultimate {
  margin-top: 188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ultimate .paragraph {
  color: #616368;
}

.charges {
  margin: 173px 0 0 0;
  text-align: center;
}

.charges > .container--640 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.charges .paragraph {
  color: #616368;
}

.product {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 14.75% 0 0;
  background: no-repeat local left;
}

.product .paragraph {
  color: #616368;
}

.product .heading,
.product .second-heading,
.product .second-heading {
  color: #242f51;
}

.faq {
  max-width: 945px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container--1030 {
  max-width: 1030px;
  margin: 0 auto;
}

.container--our-app-list {
  max-width: 962px;
  max-height: 562px;
  margin: 0 auto;
}

.container--640 {
  max-width: 640px;
  margin: 0 auto;
}

.logo {
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
}

.logo .app {
  color: #fcae61;
}

.logo .lab {
  color: #242f51;
}

.item {
  color: #242f51;
  font-size: 16px;
  line-height: 44px;
  font-weight: 400;
  margin: 0 18px;
}

.item:hover {
  color: #fcae61;
}

.item:nth-child(1) {
  margin: 0 18px 0 0;
}

.item:nth-last-child {
  text-transform: uppercase;
  margin: 0 0 0 18px;
}

.plate {
  max-width: 362px;
  max-height: 35px;
  background-color: #e8e7e9;
  border-radius: 17.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plate-circle {
  width: 39px;
  height: 35px;
  margin-right: 10px;
  background-color: #fcae61;
  border-radius: 17.5px;
  text-align: center;
}

.plate-circle > .far {
  font-size: 18px;
  color: #fff;
  -webkit-transform: translate(-3%, -4%);
      -ms-transform: translate(-3%, -4%);
          transform: translate(-3%, -4%);
}

.heading,
.second-heading {
  font-weight: 600;
}

.second-heading {
  font-size: 20px;
  margin-bottom: 15px;
}

.paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.link,
.button--text,
.button--blue {
  color: #fff;
  font-size: 16px;
  line-height: 44px;
}

.button--text {
  color: #2500f9;
  font-weight: 500;
}

.button--text:hover {
  color: #fcae61;
}

.button--blue {
  border-radius: 28.5px;
  width: 170px;
  background-color: #2500f9;
  padding: 15px 35px;
  text-align: center;
  white-space: nowrap;
  font-weight: 700;
}

span.switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 292px;
  height: 68px;
  border-radius: 60px;
}

span.switcher input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 283px;
  height: 57px;
  border: 2px solid #ebebeb;
  border-radius: 28.5px;
  background-color: #2500f9;
  font-size: 16px;
  line-height: 44px;
  font-weight: 700;
  color: #fff;
}

span.switcher input:before,
span.switcher input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

span.switcher input:before {
  content: 'Monthly';
  left: 37px;
}

span.switcher input:after {
  content: 'Annually';
  right: 34px;
}

span.switcher label {
  z-index: 1;
  position: absolute;
  top: 5px;
  bottom: 16px;
  border-radius: 30px;
}

span.switcher.switcher-1 input {
  -webkit-transition: .15s -.1s;
  -o-transition: .15s -.1s;
  transition: .15s -.1s;
}

span.switcher.switcher-1 input:checked {
  background-color: #fff;
}

span.switcher.switcher-1 input:checked:before {
  color: #fff;
  -webkit-transition: color .5s .2s;
  -o-transition: color .5s .2s;
  transition: color .5s .2s;
}

span.switcher.switcher-1 input:checked:after {
  color: #616368;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
  opacity: 0.74;
  font-weight: 500;
}

span.switcher.switcher-1 input:checked + label {
  left: 5px;
  right: 151px;
  background: #2500f9;
  -webkit-transition: left .5s, right .4s .2s;
  -o-transition: left .5s, right .4s .2s;
  transition: left .5s, right .4s .2s;
}

span.switcher.switcher-1 input:not(:checked) {
  background: #2500f9;
  -webkit-transition: background .5s -.1s;
  -o-transition: background .5s -.1s;
  transition: background .5s -.1s;
}

span.switcher.switcher-1 input:not(:checked):before {
  color: #fff;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
  opacity: 0.74;
  font-weight: 500;
}

span.switcher.switcher-1 input:not(:checked):after {
  color: #2500f9;
  -webkit-transition: color .5s .2s;
  -o-transition: color .5s .2s;
  transition: color .5s .2s;
}

span.switcher.switcher-1 input:not(:checked) + label {
  left: 140px;
  right: 16px;
  background: #fff;
  -webkit-transition: left .4s .2s, right .5s, background .35s -.1s;
  -o-transition: left .4s .2s, right .5s, background .35s -.1s;
  transition: left .4s .2s, right .5s, background .35s -.1s;
}

.circle,
.circle--red,
.circle--blue,
.circle--green {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle--red {
  background-color: #ffecef;
}

.circle--blue {
  background-color: #e9e9fc;
}

.circle--green {
  background-color: #e4ffee;
}

.inner__circle {
  width: 58px;
  height: auto;
}

.cross--purple {
  width: 4px;
  height: 14px;
  background-color: #d5cffd;
  -webkit-filter: blur(0.4px);
          filter: blur(0.4px);
}

.cross--purple::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 14px;
  background-color: #d5cffd;
}

.cross--purple::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cross--blue {
  width: 3px;
  height: 20px;
  background-color: #6883de;
  -webkit-filter: blur(0.4px);
          filter: blur(0.4px);
}

.cross--blue::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: #6883de;
}

.cross--blue::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.bagel,
.bagel--gradient,
.bagel--gradient-white,
.bagel--gradient-blue {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  -webkit-filter: blur(0.4px);
          filter: blur(0.4px);
}

.bagel--purple {
  border: 7.4px solid #d5cffd;
}

.bagel--gradient,
.bagel--gradient-white,
.bagel--gradient-blue {
  background: -webkit-gradient(linear, left bottom, left top, from(#e9a484), to(#fe6082));
  background: -o-linear-gradient(bottom, #e9a484, #fe6082);
  background: linear-gradient(to top, #e9a484, #fe6082);
}

.bagel--gradient::after,
.bagel--gradient-white::after,
.bagel--gradient-blue::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-transform: translate(35%, 35%);
      -ms-transform: translate(35%, 35%);
          transform: translate(35%, 35%);
}

.bagel--gradient-white::after {
  background-color: #fff;
}

.bagel--gradient-blue::after {
  background-color: #242f51;
}

.rectangle--purple {
  width: 36px;
  height: 36px;
  border: 5px solid #d5cffd;
  -webkit-filter: blur(0.4px);
          filter: blur(0.4px);
}

/* [ON BIG SCREEN] */

/* Wrapper */

#hamnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Hide Hamburger */

#hamnav label,
#hamburger {
  display: none;
}

/* Horizontal Menu Items */

#hamitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hamitems a {
  width: 20%;
  /* 100% / 5 tabs = 20% */
  padding: 10px;
  color: blue;
  text-align: center;
}

/* [ON SMALL SCREENS] */

@media (min-width: 767px) {
  .header__heading {
    font-size: calc(32px + 12 * (100vw / 850));
  }
}

@media screen and (max-width: 768px) {
  /* Show Hamburger Icon */

  #hamnav label {
    display: inline-block;
    color: gray;
    padding: 10px;
  }

  /* Break down menu items into vertical */

  #hamitems a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 100%;
  }

  /* Toggle Show/Hide Menu */

  #hamitems {
    display: none;
  }

  #hamnav input:checked ~ #hamitems {
    display: block;
  }
}

@media (max-width: 767px) {
  .header__heading {
    font-size: calc(32px + 12 * ((100vw - 320px) / 850));
  }
}