.our-app {

  &__intro {
  }

  &__heading--intro {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 35px;
    color: $sixth-color;
  }

  &__paragraph--intro {
    margin-bottom: 94px;
  }

  &__info {
    display: flex;
    justify-content: center;

  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .development, .award, .storage {
    margin-bottom: 70px;
  }
  

  &__inner-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
  }

  &__heading--info {
    color: $sixth-color
  }

  &__paragraph--info {
  }
}


.circle--1 {
  background-color: #ffecef;
}
.circle--2 {
  background-color: #d5f1fa;
}
.circle--3 {
  background-color: #fff6d3;
}
.circle--4 {
  background-color: #e4ffee;
}
.circle--5 {
  background-color: #e3e3fc;
}
.circle--6 {
  background-color: #fdeee4;
}
